* {
	box-sizing: border-box;
}

html {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
		Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
	font-size: 18px;
	line-height: 1.45;
}

body {
	margin: 0;
}

main {
	margin: 2rem auto;
	width: min(450px, 90vw);
}
