.header {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin: 1rem auto;
	width: min(600px, 90vw);

	& > img {
		width: calc(100% - 2rem - 60px);
	}
}

.avatarBox {
	border: 2.5px solid black;
}

.avatar {
	height: auto;
	width: 60px;
}
